body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(14,126,18,255);
}

.contenedor {
    text-align: center;
}

.carta {
    width: 300px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    line-height: 500px;
    font-size: 100px;
}


.carta.hearts {
    color: red !important;
}
button{
    margin-top: 10px;
    height: 40px;
    width: 120px;
}